@model IEnumerable<Chatter.Models.ApplicationUser>

@{

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <table class="table">
        <tr>
            <th>
                Follow
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            if (ViewBag.currentUser.UserName != item.UserName)
            {
                <tr>
                    <td>
                        <a href="@Url.Action("AddFollower", new { id = item.Id })">
                            @if (ViewBag.followingUsers.Contains(item.UserName))
                            {
                                <span class="glyphicon glyphicon-check"></span>
                            }
                            else
                            {
                                <span class="glyphicon glyphicon-unchecked"></span>
                            }
                        </a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                </tr>
            }

        }
    </table>

</body>
</html>
