@{
    ViewBag.Title = "Home Page";
}





<div class="jumbotron">
    <h1>Chatter</h1>
    <p><a class="btn btn-primary btn-lg" @Html.ActionLink("Newsfeed","Index","Chats")</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Chats</h2>
        <p>
            Create chat.
        </p>
        <p><a class="btn btn-default"  @Html.ActionLink("Chat","Create","Chats")</a></p>
    </div>
    <div class="col-md-4">
        <h2>Users</h2>
        <p>
            Follow users to view their chats.
        </p>
        <p><a class="btn btn-default" @Html.ActionLink("Following", "Index", "ApplicationUsers")</a></p>
    </div>
</div>